* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #5c5470;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 85px;
}

h1 {
  display: flex;

  justify-content: center;
  align-items: center;

  font-size: 50px;

  color: #faf0e6;
  font-family: fantasy;
  padding-block: 20px;
  background-color: #352f44;
}

main {
  background-color: #5c5470;
  margin-bottom: 25px;
}

.game-instructions {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 35px;
  font-family: fantasy;
  color: #faf0e6;
}

h3 {
  font-size: 25px;
  font-family: fantasy;
  color: #faf0e6;
}

.game-instructions h3 {
  padding: 15px;
}

.player-option,
.computer-option {
  color: #faf0e6;
  font-size: 130px;
}

.show-user-computer-selection {
  display: flex;
  gap: 120px;
  justify-content: center;
  align-items: center;
}

.player-option,
.computer-option {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Scores {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;

  margin-bottom: 35px;
}

.player-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.player-options button {
  outline: none;
  border-radius: 70px;
  height: 130px;
  width: 130px;
  padding: 10px;
  cursor: pointer;
  font-size: 55px;
  background-color: #352f44;
  border: none;
}

button:hover {
  background-color: rgb(254, 250, 129);
}

footer h3 {
  text-align: center;
  background-color: #352f44;
  padding: 6px;
  font-size: 20px;
}

footer {
  margin-top: auto;
}

a {
  color: #faf0e6;
  background-color: #352f44;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
