* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #5c5470;
}

.container {
  /* looked at online resouces to make sure my footer always stay at the bottom.*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 85px;
}

h1 {
  text-align: center;
  font-size: 50px;

  color: #faf0e6;
  font-family: fantasy;

  background-color: #352f44;
}

main {
  background-color: #5c5470;
}

.game-instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 35px;
  font-family: fantasy;
  color: #faf0e6;
}

h3 {
  font-size: 25px;
  font-family: fantasy;
  color: #faf0e6;
}

/* .game-instructions h3 {
} */

.player-option,
.computer-option {
  color: #faf0e6;
  font-size: 130px;
  width: 150px;
  height: 150px;
}

.show-user-computer-selection {
  display: flex;
  gap: 120px;
  justify-content: center;
  align-items: center;
}

.player-option,
.computer-option {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Scores {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 151px;
}

.player-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.player-options button {
  outline: none;
  border-radius: 70px;
  height: 130px;
  width: 130px;
  cursor: pointer;
  font-size: 55px;
  background-color: #352f44;
  border: none;
}

button:hover {
  background-color: #ffdbc3;
}

footer h3 {
  text-align: center;
  background-color: #352f44;

  font-size: 20px;
  padding: 25px;
}

footer {
  margin-top: auto;
}

a {
  color: #faf0e6;
  background-color: #352f44;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.game-Result {
  display: none;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.result-Containe {
  background-color: #352f44;
}

.playAgainbtn {
  cursor: pointer;
  height: 75px;
  width: 150px;
  font-size: 25px;
  font-family: fantasy;
  color: #faf0e6;
  background-color: #352f44;
}

.playAgainbtn:hover {
  background-color: #5c4b99;
}

.result-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-Result h2 {
  font-size: 150px;
  height: 240px;
  padding: 2px;
  margin-bottom: 10px;
}

.game-Result h1 {
  padding-left: 30px;
  padding-right: 30px;
}

.game-Result h2 {
  padding-left: 56px;
  padding-right: 56px;
}

.result-Container h2 {
  background-color: #352f44;
}

/* .result-Container h1 {
} */
.result-Container h2 {
  text-align: center;
}
